bokeh==2.3.2
bokeh-plot==0.1.16
numpy==1.19.5
openpyxl==3.0.7
pandas==1.2.4
matplotlib==3.4.1
matplotlib-inline==0.1.2
meteostat==1.5.4
statsmodels==0.12.2
streamlit==0.84.0
plotly==5.1.0
DateTime==4.3
geopy==2.2.0
keras==2.6.0
Keras-Preprocessing==1.1.2
Markdown==3.3.4
tenacity==8.0.1
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.6.0
tensorflow-gpu==2.6.0
